D:\GIT-RogerioTonini\MP-DotNet6\.vs
D:\GIT-RogerioTonini\MP-DotNet6\01-Videos
D:\GIT-RogerioTonini\MP-DotNet6\MP.ApiDotNet6.Api\obj\Debug
D:\GIT-RogerioTonini\MP-DotNet6\MP.ApiDotNet6.Application\obj\Debug
D:\GIT-RogerioTonini\MP-DotNet6\MP.ApiDotNet6.Domain\obj\Debug
D:\GIT-RogerioTonini\MP-DotNet6\MP.ApiDotNet6.Infra.Data\obj\Debug
D:\GIT-RogerioTonini\MP-DotNet6\MP.ApiDotNet6.Infra.Ioc\obj\Debug